.col-md-12
  %table.table
    %tr
      %th User
      %th Title
      %th Image
      %th Options
    - @images.each do |image|
      %tr{:class => image.published? ? 'success' : 'danger'}
        %td= image.user.nick
        %td= image.title
        %td= image_tag image.image(:medium)
        %td
          - unless image.published?
            = button_to 'Accept', accept_moderator_image_path(image), :method => :patch, class: 'btn btn-success btn-xs'
          = link_to 'Destroy', moderator_image_path(image), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-xs'