/ Page Content
.container
  / Page Heading
  .row
    .col-lg-12
      %h1.page-header
        Enjoy FunnyPics!
        %small
          = "(#{@images.count} published)"
  / /.row
  - @images.each do |image|
    / Project One
    .row
      .col-md-12
        %center
          =link_to path_to_image(image.image), class: 'alpha-hover-photo' do
            = image_tag image.image, height: '300', title: "#{image.title} (#{image.user.nick})"
        / .btn.btn-success= link_to 'Show', image
        / %br/
        / .btn.btn-primary= link_to 'Edit', edit_image_path(image)
        / %br/
        / .btn.btn-danger= link_to 'Destroy', image, :method => :delete, :data => { :confirm => 'Are you sure?' }
    / /.row
    %hr/
  / Pagination
  - if @images.total_pages > 1
    .row.text-center
      .col-lg-12
        %ul.pagination
          = will_paginate @images, renderer: BootstrapPagination::Rails
  / /.row
  %hr/